<html lang="en"><head>
<meta content="text/html;charset=UTF-8" http-equiv="content-type">
<meta charset="utf-8">
<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
<base target="_parent">
<link href="/style.css" media="screen" rel="stylesheet">
<!--<script src="http://dzpp79ucibp5a.cloudfront.net/assets/client-fa0533355e3b3537fa3110a765a77e95.js"></script> -->
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
</head>
<body>

<div class="module-content">
  <h1>Censo Educativo SEP</h1>
  <div class="notes embedded-content">
    <p>Censo educativo 2013.</p>
  </div>
  <span class="insert-comment-thread"></span>
  <!-- Snippet package/snippets/resources_list.html start -->
  <section class="resources">
    <h3>Datos y Recursos</h3>
    <ul class="resource-list">
      <!-- Snippet package/snippets/resource_item.html start -->
      <li class="resource-item" data-id="4d8bc01a-624a-4d1e-a6ad-9b25370dec25">
      <a class="heading" href="/dataset/censo-educativo-sep/resource/4d8bc01a-624a-4d1e-a6ad-9b25370dec25" title="Base de datos del Censo de Escuelas, Maestros y Alumnos, SEP,INEGI">
        Base de datos del Censo de Escuelas, Maestros y ...<span class="format-label" property="dc:format" data-format="csv">CSV</span>
        <!-- Snippet snippets/popular.html start -->
        <!-- Snippet snippets/popular.html end -->
      </a>
      </li>
      <!-- Snippet package/snippets/resource_item.html end -->
      <!-- Snippet package/snippets/resource_item.html start -->
      <li class="resource-item" data-id="16c31e6c-d8b7-4dc7-8ef2-a8cffd286c38">
      <a class="heading" href="/dataset/censo-educativo-sep/resource/16c31e6c-d8b7-4dc7-8ef2-a8cffd286c38" title="[Comprimido] Base de datos del Censo de Escuelas, Maestros y Alumnos, SEP,INEGI">
        [Comprimido] Base de datos del Censo de Escuelas, ...<span class="format-label" property="dc:format" data-format="zip">ZIP</span>
        <!-- Snippet snippets/popular.html start -->
        <!-- Snippet snippets/popular.html end -->
      </a>
      </li>
      <!-- Snippet package/snippets/resource_item.html end -->
    </ul>
  </section>
  <!-- Snippet package/snippets/resources_list.html end -->
  <!-- Snippet package/snippets/tags.html start -->
  <section class="tags">
    <h3>Tags</h3>
    <!-- Snippet snippets/tag_list.html start -->
    <ul class="tag-list well">
      <li>
      <a class="tag" href="/dataset?tags=2013">2013</a>
      </li>
      <li>
      <a class="tag" href="/dataset?tags=inegi">inegi</a>
      </li>
      <li>
      <a class="tag" href="/dataset?tags=sep">sep</a>
      </li>
    </ul>
    <!-- Snippet snippets/tag_list.html end -->
  </section>
  <!-- Snippet package/snippets/tags.html end -->
  <!-- Snippet package/snippets/additional_info.html start -->
  <section class="additional-info">
    <h3>Información Adicional</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Campo</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row" class="dataset-label">Estado</th>
        <td class="dataset-details">active</td>
      </tr>
      </tbody>
    </table>
  </section>
  <!--  <iframe src="http://datamx.io/dataset/b03f3a86-e81d-4785-b859-740d7e874f4c/resource/4d8bc01a-624a-4d1e-a6ad-9b25370dec25/preview" frameborder="0" width="100%" data-module="data-viewer" style="height: 666px;">&lt;p&gt;Su navegador no soporta iframes.&lt;/p&gt;</iframe> -->
</div>
<div class="footer">
    <img src="datamx.gif" class="img-footer" />
</div>
</body>
</html>
